.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 36rem;
    height: 36rem;
    margin: 1rem auto 0;
    background-image: url(./assets/tic-tac-toe.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.container>.item {
    
}

/* .container>.item {
    border: .35rem solid #ddd;
}

.container>.item.no-border-top {
    border-top: none;
}

.container>.item.no-border-left {
    border-left: none;
}

.container>.item.no-border-right {
    border-right: none;
}

.container>.item.no-border-bottom {
    border-bottom: none;
} */