.container-board-game {
    width: 100vw;
    border-top: .3rem solid #eee;
    border-bottom: .3rem solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/wood.webp);
    background-color: rgba(201, 190, 174, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
}

.game-section {
    width: 50vw;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.board-game {
    /* background-color: #e8b75b; */
    width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.overlay-mask {
    visibility: hidden;
    position: absolute;
    inset: 0;
    cursor: pointer;
    /* background-color: rgba(0, 255, 157, 0.508); */
}

.modal-game-over {
    width: 100%;
    height: calc(100% / 6.5);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 2.25rem;
}

.modal-game-over>.end-game {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 25rem;
    height: 25rem;
    /*
    background-image: url(./assets/tic-tac-toe.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    */
}

.container>.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: .34rem;
    border-style: solid;
    border-color: #d0d0d0;
    background-color: transparent;
    cursor: pointer;
}

.container>.item.item-0 {
    border-top: none;
    border-left: none;
}

.container>.item.item-1 {
    border-top: none;
}

.container>.item.item-2 {
    border-top: none;
    border-right: none;
}

.container>.item.item-3 {
    border-left: none;
}

.container>.item.item-5 {
    border-right: none;
}

.container>.item.item-6 {
    border-left: none;
    border-bottom: none;
}

.container>.item.item-7 {
    border-bottom: none;
}

.container>.item.item-8 {
    border-right: none;
    border-bottom: none;
}

.board-game>.display-turn {
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.board-game>.scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 6.5rem;
}

.case-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 2.25rem;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    visibility: visible;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:801px) {
    .game-section {
        width: 100vw;
    }
}